<!-- Archivo: views/home.handlebars -->

<!-- home.handlebars -->

<body>
 
<div class="hero">
            <h1>Bienvenido a nuestro Sitio Web</h1>
            <p>Descubre nuestra colección de productos únicos</p>
            <a href="/productos" class="btn btn-primary">Ver Productos</a>
        </div>

<div class="product-card-container">
    <!-- Tarjeta de Producto 1 -->
    <div class="product-card">
        <div class="product-image">
            <img src="/archivos.img/ath-s220btbk_01_1.png" alt="Placeholder de Producto" width="200" height="200">
        </div>
        <div class="product-details">
            <h3 class="product-name">Nombre del Producto 1</h3>
            <p class="product-description">Descripción del Producto 1...</p>
            <p class="product-price">Precio: $XX.XX</p>
            <p class="product-category">Categoría: Nombre de la Categoría</p>
            <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al Carrito</button>
            <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del Carrito</button>
        </div>
    </div>

    <!-- Tarjeta de Producto 2 -->
    <div class="product-card">
        <div class="product-image">
            <img src="/archivos.img/at-lp60x_01.png" alt="Placeholder de Producto" width="200" height="200">
        </div>
        <div class="product-details">
            <h3 class="product-name">Nombre del Producto 2</h3>
            <p class="product-description">Descripción del Producto 2...</p>
            <p class="product-price">Precio: $XX.XX</p>
            <p class="product-category">Categoría: Nombre de la Categoría</p>
            <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al Carrito</button>
            <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del Carrito</button>
        </div>
    </div>
        <div class="product-card">
        <div class="product-image">
            <img src="/archivos.img/at2020usb-x_01.png" alt="Placeholder de Producto" width="200" height="200">
        </div>
        <div class="product-details">
            <h3 class="product-name">Nombre del Producto 2</h3>
            <p class="product-description">Descripción del Producto 2...</p>
            <p class="product-price">Precio: $XX.XX</p>
            <p class="product-category">Categoría: Nombre de la Categoría</p>
            <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al Carrito</button>
            <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del Carrito</button>
        </div>
    </div>
        <div class="product-card">
        <div class="product-image">
            <img src="/archivos.img/at2020usb_plus_01.png" alt="Placeholder de Producto" width="200" height="200">
        </div>
        <div class="product-details">
            <h3 class="product-name">Nombre del Producto 2</h3>
            <p class="product-description">Descripción del Producto 2...</p>
            <p class="product-price">Precio: $XX.XX</p>
            <p class="product-category">Categoría: Nombre de la Categoría</p>
            <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al Carrito</button>
            <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del Carrito</button>
        </div>
    </div>
        <div class="product-card">
        <div class="product-image">
            <img src="/archivos.img/atr2500x-usb_01.png" alt="Placeholder de Producto" width="200" height="200">
        </div>
        <div class="product-details">
            <h3 class="product-name">Nombre del Producto 2</h3>
            <p class="product-description">Descripción del Producto 2...</p>
            <p class="product-price">Precio: $XX.XX</p>
            <p class="product-category">Categoría: Nombre de la Categoría</p>
            <button class="btn btn-primary btn-add-to-cart" onclick="addToCart(this)">Agregar al Carrito</button>
            <button class="btn btn-danger btn-remove-from-cart" onclick="removeFromCart(this)">Quitar del Carrito</button>
        </div>
    </div>
</div>
